* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #292929;
  background: #ffffff;
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.navbar {
  height: 90px;
  background: #292929;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 6%;
}

.logo {
width: 110px;
height: auto;
display: block;
}

.navbar nav {
  display: flex;
  gap: 45px;
}

.navbar nav a {
  font-size: 14px;
  color: white;
}

.footer {
  background: #292929;
  color: white;

  padding: 70px 8%;

  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 50px;
}

.footer h3 {
  color: #d8bb78;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
  color: #ddd;
}

.footer input {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.footer button {
  background: #d8bb78;
  padding: 10px 20px;
}
.footer-logo {
  width: 110px;
  height: auto;
}

/* =========================
   HERO SECTION
========================= */

.hero-section {
  position: relative;
  min-height: 430px;

  background-image: url("/src/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

/* =========================
   WHAT ARE YOU LOOKING FOR
========================= */

.looking-section {
  position: relative;

  background: #d2b36d;

  padding: 55px 30px 70px;

  overflow: hidden;
}